.container-shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
    
}
.container-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    height: 510px;
    margin:auto;
    margin-top: 100px;
    
}

